*,
:before,
:after {
  box-sizing: border-box;
}

html {
  background-color: #222;
  color: white;
}

.App {
  text-align: center;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: block;
  margin: auto;
  padding: 3em;
  width: 30em;
  height: 18em;
  background-color: #292929;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
